.navbar {
  width: 100%;
  padding: 25px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 1px solid #f0f0f0;
}

.logo img {
  height: 22px;
  width: auto;
  display: block;
}

.nav-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 40px;

  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  color: #2d2d2d;
}

/* RIGHT SIDE LINES */

.navbar-lines {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.nav-line {
  width: 30px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
    justify-content: center;
  }

  .nav-links {
    display: none;
  }

  .navbar-lines {
    display: none;
  }
}